{% extends 'base.html' %}
{% block widgets %}{% endblock widgets %}
{% block title %}{{ block.super }}| About Me{% endblock title %}
{% block content %}


    <div class="container" style=" text-align: center; margin-top: 40px;" >
        <h1 class="display-4" >Salom mening ismim Sarvar <br>
        Men Web Developer man <br> Front End  va Back End Developer
        </h1>
        <hr>

    </div>

    <div class="container border " style="border-radius: 50px; margin-top: 50px;">
        <div class="row">
            </div>
            <div class="col-md-12" style="padding-right: 30px;" >
                <h1 class="display-4" style="text-align: center;  color: black; "> Biz Haqimizda  </h1>
                <div class="" style="font-size: 30px">
                <p class="display-5" style=" text-align: justify; font-family: 'Fira Code Light' " >CarSell Website 2021-yil 15-sentabr kuni Sarvar tomonidan yaratildi Bu yerda xar xil turdagi Mashinalarni Ko'rishingiz mumkin Va o'zingizni moshinangizni sotishingiz mumkin hozirda sayt test rejimida ishlayapti biz yana ko'p qulaylikalrni yaratish niyatidamiz o'ylaymanki saytdan unumli foydalanasiz. </p>
                  <ul>
                      <li>Admin: Sarvarsssss</li>
                      <li>Telegram: <a href="https://t.me/Sarvarssssc">@Sarvarsssss</a> </li>
                      <li>Email: sarvarrahmonberdiyev@gmail.com</li>
                  </ul>
                    </div>
            </div>
        </div>
    </div>





{% endblock content %}