{% extends 'base.html' %}
{% load humanize %}
{% block title %}{{ block.super }}| {{ object.title }}{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4">{{ object.title }}</h1>
        <!-- Author -->
        <p class="lead">
            by
            {% if object.user.get_full_name %}
            <a href="/?author={{ object.user }}">{{ object.user.get_full_name }}</a>
            {% else %}
            <a href="/?author={{ object.user }}">{{ object.user.username }}</a>
            {% endif %}
        </p>

        <hr>
        <!-- Date/Time -->
        <p>Posted on, {{ object.created_at|naturaltime }}</p>
        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ object.image.url }}" alt="{{ object.title }}">
        <hr>

        <!-- Post Content -->

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Mashina nomi</td>
                    <td>{{ object.title }}</td>
                </tr>
                <tr>
                    <td>Campaniya</td>
                    <td>
                        {% for cat in object.get_categories %}
                        <a href="/?cat={{ cat }}">{{ cat }}</a>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Joylashuv</td>
                    <td>{{ object.location }}</td>
                </tr>
                <tr>
                    <td>Narxi</td>
                    <td>{{ object.price }}$</td>
                </tr>
                <tr>
                    <td>Uzatish qutisi</td>
                    <td>{{ object.persons }}</td>
                </tr>
                <tr>
                    <td>Yoqilg'i</td>
                    <td>{{ object.taste }}  </td>
                </tr>

                <tr>
                    <td>Yili</td>
                    <td>{{ object.year }}  </td>
                </tr>
                <tr>
                    <td>Bo'sib o'tgan yo'li</td>
                    <td>{{ object.vat }} km</td>
                </tr>
                <tr>
                    <td>Telefon raqami </td>
                    <td>+{{ object.tel }}  </td>
                </tr>
                <tr>
                    <td>Likes</td>
                    <td>{{ object.likes_count }}</td>
                </tr>
            </tbody>
        </table>

<h4>Qo'shimcha malumotlar</h4>
        <hr>
   <p class="lead" style="color: black">{{ object.details }}</p>
        <!-- Comments Form -->
        <div class="card my-4"  >
            <h5 class="card-header">Comment Yozish:</h5>
            <div class="card-body" style="padding-bottom:45px" >
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name='slug' value="{{ object.slug }}">
                        <textarea name="comment" class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Jo'natish</button>
                </form>
            </div>
        </div>

        <!-- Single Comment -->

        {% if object.comments.all %}
        {% for comment in object.comments.all %}
        <div class="media mb-4" style="padding-bottom: 40px">
            <img width="8%" class="d-flex mr-3 rounded-circle comment_pic" src="{{ comment.user.profile.image.url }}" alt="Image">
            <div class="media-body">

                <p>{{ comment.text }}<br>
                    <small><i class="far fa-clock"></i>&nbsp{{ comment.created_at }}</small>
                </p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endblock content %}